<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>City</th>
                <th>State</th>
                <th>Phone Number</th>
                <th>Zip Code</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userDetail of userLists">
                <td>{{userDetail.name}}</td>
                <td>{{userDetail.gender}}</td>
                <td>{{userDetail.city}}</td>
                <td>{{userDetail.state}}</td>
                <td>{{userDetail.phoneNumber}}</td>
                <td>{{userDetail.zipCode}}</td>
                <td>
                    <button class="btn btn-info" (click)="onEdit(userDetail.id)">edit</button>
                    <button class="btn btn-danger" (click)="onDelete(userDetail.id)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>